#tsparticles {
  height: 40rem;
}
.wrapper {
  position: relative;
}
.text {
  background-color: white;
  background-color: transparent;
  color: #fff;
  color: black;
  position: absolute;
  text-align: center;
  top: 40%;
  width: 100%;
}
